html{
    width: 100%;
    height: 100%;
    font: 20px Gamja Flower;
}

game canvas{
    width: 800px;
    height: 600px;

    background-image: url("../images/shiptest.png"); /*https://opengameart.org/content/mother-ship-with-fighter*/
    background-size: cover;
}

stars canvas{
    width: 100%;
    height: 100%;
}

game{
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
}

body{
    padding: 0;
    margin: 0;
    z-index: -20;
}

#msg{
    display: none;
    width: 80%;
    font-size: 500%;
    margin: auto;
    margin-top: 40%;
    color: red;
}

stars {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #B3B3B355;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

img{
    margin: 1%;
}


@media screen and (orientation:portrait) and (max-device-width: 900px) {
    html{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        position: absolute;
        top: 100%;
        left: 0
    }

    #msg{
        display: block;
    }

    game{
        display: none;
    }

    div{
        display: none;
    }

}

@media screen and (orientation:landscape) and (max-device-width: 900px) {
    #msg{
        display: hidden;
    }
}